.group-42 {
  color: #242424;
  width: 100%;
  height:fit-content;
  flex-direction: row;
  align-items: stretch;
  font-family: Mulish, Arial;
  font-size: .75rem;
  font-weight: 700;
  display: flex;
  margin-top: 10px;
}
.FourcolumnIcon{
  margin-bottom: 20px;
}

.container__switch {
  color: #7a40f2;
  height: 100%;
  background-color: #fff;
  border: 1px solid #e6e5f2;
  border-radius: 25px;
  flex-direction: column;
  flex-basis: 22%;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  padding-left: 17px;
  font-size: .875rem;
  display: flex;
}

.container__switch:hover {
  box-shadow: rgba(123, 5, 241, 0.525) 0px 5px 15px;
}



.container__switch input[type="checkbox"]:checked + span {
  color: #fff;
  background-color: #7a40f2;
}

.switch-content{
  text-align: start;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content:left;

}
.Switch{  
  justify-content: end;
  display: flex;
  margin-top: -26px;
  height: 50px;
}
.switch-on{
  margin-top: 10px;
}

@media (max-width:920px){
.group-42 {
  color: #242424;
  width: 100%;
  height:30%;
  margin-left: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-family: Mulish, Arial;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.container__switch {
  color: #7a40f2;
  height: auto;
  background-color: #fff;
  border: 1px solid #e6e5f2;
  border-radius: 25px;
  flex-direction: column;
  flex-basis: 22%;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  font-size: 15px;
  width:20%;
  display: flex;
  margin-left: 10px;
}

.switch-content {
  display: flex;
  font-size: small;
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.Switch {  
  justify-content: flex-end;
  display: flex;
  margin-top: -26px;
  height: 100px;
}

.switch-on {
  margin-top: 10px;
}

}