.groupWrapper6 {
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-mulish);
}
.groupWrapper6,
.groupWrapper7 {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
}
.main-Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  margin-top: 50px;
}

.home-text {
  flex-basis: 33%;
  font-size: xx-large;
}

.parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.parent2Icon {
  position: relative; /* Helps us control overlap */
  padding-left: 25px;
  padding-right: 10px;
}

.pathIcon4 {
  height: 20px;
  padding-top: px;
  position: relative;
  flex-basis: 33%;
}

.div7 {
  position: relative;
  font-size: larger;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 6px;
  flex-basis: 33%;
}

.ovalIcon6 {
  position: relative;
  max-width: 100%;
  max-height: 10%;
  flex-basis: 33%;
  top: -16%;
  left: 2%;
}
.c6 {
  font-size: large;
  padding-left: 2px;
  padding-top: 6px;
}

.parent2 > * {
  margin: 5px 0;
}

.dropdown-container {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown-container > * {
  margin: 0 5px;
}

.pathIcon3 {
  height: 97.78%;
  width: 5.78%;
  top: 1.11%;
  right: 88.22%;
  bottom: 1.11%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.text {
  top: 27px;
  left: 25px;
  width: 359px;
  height: 174px;
}
.welcomeHomeThe {
  position: absolute;
  width: 100%;
  top: calc(50% - 43px);
  left: 0;
  letter-spacing: 0.6px;
  line-height: 22px;
  color: #bd5600;
  display: inline-block;
}
.helloScarlett {
  position: absolute;
  top: calc(50% - 87px);
  left: 0;
  font-size: 30px;
  letter-spacing: 1.16px;
  line-height: 32px;
  font-family: var(--font-poppins);
  color: #c45a01;
}
.pathIcon2{
  margin-top: 6px;
  margin-left: 3px;
}
.outdoorTemperatureParent {
  position: absolute;
  height: 16.09%;
  width: 100%;
  top: 62.07%;
  bottom: 21.84%;
  left: 0.28%;
  overflow: hidden;
}
.outdoorTemperature {
  position: absolute;
  top: calc(50% - 8px);
  left: 20%;
  letter-spacing: 0.6px;
  line-height: 18px;
  font-weight: 600;
}
.parent1 {
  height: 100%;
  top: 0;
  right: 62.11%;
  bottom: 0;
  text-align: center;
  font-size: var(--font-size-4xl);
  font-family: var(--font-lato);
}

.c5,
.div6 {
  position: absolute;
}
.div6{
  left: 0;
}
.c5,
.div6 {
  top: calc(50% - 14px);
  line-height: 28px;
  font-weight: 500;
}
.div6 {
  font-weight: bold;
  font-size: large;
}
.c5 {
  left: 22%;
  font-size: large;
}
.ovalIcon5,
.parent1 {
  position: absolute;
  overflow: hidden;
  left: 8%;
}
.ovalIcon5 {
  top: 17.86%;
  bottom: 64.29%;
  left: 18%;
  width: 4px;
}
.fuzzyCloudyWeatherParent {
  height: 10.34%;
  width: 100%;
  top: 89.66%;
  right: 48.47%;
  bottom: 0;
  left: 0;
}

.fuzzyCloudyWeather {
  position: absolute;
  top: calc(50% - 9px);
  left: 10%;
  letter-spacing: 0.6px;
  line-height: 18px;
  font-weight: 600;
}

.fuzzyCloudyWeatherParent,
.pathIcon3,
.text {
  position: absolute;
  overflow: hidden;
}

@media (max-width: 940px) {
  .groupWrapper6 {
    text-align: left;
    font-size: var(--font-size-sm);
    font-family: var(--font-mulish);
  }

  .groupWrapper6,
  .groupWrapper7 {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
  }

  .main-Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 30px;
    width: auto;
  }

  .home-text {
    font-size: large;
  }

  .parent2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
  }

  .pathIcon4 {
    height: 20px;
    padding-top: 0px;
    position: relative;
    flex-basis: 33%;
  }

  .div7 {
    position: relative;
    font-size: small;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 3px;
    flex-basis: 33%;
  }

  .ovalIcon6 {
    position: relative;
    max-width: 100%;
    max-height: 10%;
    flex-basis: 33%;
    top: -16%;
    left: 2%;
  }

  .c6 {
    font-size: small;
    padding-left: 2px;
    padding-top: 3px;
  }

  .parent2 > * {
    margin: 2px 0;
  }

  .dropdown-container {
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .dropdown-container > * {
    margin: 0 2px;
  }

  .text {
    top: 15px;
    left: 15px;
    width: 300px;
    height: 130px;
  }

  .welcomeHomeThe {
    position: absolute;
    width: auto;
    top: calc(50% - 35px);
    left: 0;
    letter-spacing: 0.6px;
    line-height: 18px;
    color: #bd5600;
    display: inline-block;
  }

  .helloScarlett {
    position: absolute;
    top: 5%;
    left: 0;
    font-size: 20px;
    letter-spacing: 1.16px;
    line-height: 22px;
    font-family: var(--font-poppins);
    color: #c45a01;
  }

  .outdoorTemperatureParent {
    position: absolute;
    height: auto;
    width: 100%;
    top: 52%;
    bottom: 25%;
    left: 0.28%;
    overflow: hidden;
  }

  .outdoorTemperature {
    position: absolute;
    top: calc(50% - 8px);
    left: 22%;
    letter-spacing: 0.6px;
    line-height: 20px;
    font-weight: 600;
  }
 

  .parent1 {
    height: 100%;
    top: 0;
    right: 62.11%;
    bottom: 0;
    text-align: center;
    font-size: var(--font-size-4xl);
    font-family: var(--font-lato);
  }

  .c5,
  .div6 {
    position: absolute;
  }
  .div6 {
    left: 0;
  }
  .c5,
  .div6 {
    top: calc(50% - 14px);
    line-height: 28px;
    font-weight: 500;
  }
  .div6 {
    font-weight: bold;
    font-size: large;
  }
  .c5 {
    left: 20%;
    font-size: large;
  }
  .ovalIcon5,
  .parent1 {
    position: absolute;
    overflow: hidden;
  }
  .ovalIcon5 {
    top: 17.86%;
    bottom: 64.29%;
    width: 4px;
  }
  .fuzzyCloudyWeatherParent {
    height: auto;
    width: 100%;
    top: 89.66%;
    right: 48.47%;
    bottom: 0;
    left: 0;
  }

  .fuzzyCloudyWeather {
    position: absolute;
    top: calc(50% - 9px);
    left: 10%;
    letter-spacing: 0.6px;
    line-height: 18px;
    font-weight: 600;
  }

  .fuzzyCloudyWeatherParent,
  .pathIcon3,
  .text {
    position: absolute;
    overflow: hidden;
  }

  .pathIcon2 {
    width: 6.5%;
    right: 93.5%;
  }

  .parent1 {
    right: 55%;
    font-size: var(--font-size-3xl);
  }

  .c5,
  .div6 {
    font-size: var(--font-size-lg);
    top: calc(50% - 16px);
    line-height: 37px;
  }

  .ovalIcon5 {
    width: 5px;
    left: 16%;
  }

  .fuzzyCloudyWeatherParent {
    top: 87%;
  }

  .fuzzyCloudyWeather {
    font-size: var(--font-size-lg);
    top: calc(50% - 11px);
    left: 10%;
  }
}


