.led__wrapper {
  margin-bottom: 40px;
  margin-top: 20px;
  border: 1px solid #e6e5f2;
  height: 100%;
  border-radius: 25px;
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 0.875rem;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 45% 45%;
}

.led__switches {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.led__powerConsumed {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.led__info {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  border: 1px solid #e6e5f2;
  position: relative;
  box-shadow: rgba(123, 5, 241, 0.525) 0px 5px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin-top: 5rem;
}

.led__info h4 {
    font-weight: 700;
    font-size: large;
}

.led__info h5 {
    color: rgb(84, 81, 81);
    font-size: medium;
}

.control{
  margin-top: 100px;
  background-color: aquamarine;
}
label {
  position: absolute;
  top: 0.5ex;
  z-index: 1;
  font-size: small;
  font-weight: bold;
  margin-left:3%;
}
