.sidebar {
    background-color: #7A40F2;
    color: whitesmoke;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    width:auto;
}

.sidebar__container {
    max-width: 20%;
}

.sidebar__icon {
    color: whitesmoke !important;
}

.sidebar__item {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7A40F2 !important;
  border-radius: 0px 15px 15px 0px !important;
  color: whitesmoke !important;
margin-top: 5% !important;
}

.sidebar__text {
    visibility: hidden !important;
}

.sidebar__item:hover  .sidebar__text {
    visibility: visible !important;
  transition-delay: 0.1s;
  }


