.heroSection{
    padding-left: -100px;
}
.rightColumn {
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column !important;
    justify-content: center;
    height: fit-content;
    
}
.chart{
    margin-top: 10%;
}

@media (max-width: 940px) {

}
